* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Menu_Principal.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: rgb(5, 4, 4);
}

.menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}


.nombre-usuario {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 0.9em;
    color: #050505;
}


.menu-options {
    display: flex;
    gap: 60x; /* Espacio entre los botones */
}

.menu-options button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #020202;
    color: grey;
    cursor: pointer;
    font-size: 16px;
}

.menu-options button:hover {
    background-color: #050505;
}